.contentLayout {
  margin-left: 200px;
}

.contentWrapper {
  flex: 1;
  padding: 24px;
  background-color: #40a9ff17;
  text-align: center;
}

.content {
  display: flex;
  overflow: initial;
  min-height: calc(100vh - 148px);
  margin: 24px 16px 0;
}

.backToTop {
  margin-bottom: 35px;
}
