.header {
  background-color: #f0f2f5;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
}

.twitterFollow {
  margin: 0 7rem 0 auto;
  height: 50px;
}

.icon {
  padding: 10px;
  font-size: 1.5rem;
  color: #5e5e5e;
  cursor: pointer;
}

.icon svg:hover {
  transform: scale(1.1);
  color: #00acee;
  transition: all 0.4s ease-in-out;
}
