th.rotate {
  height: 170px;
  white-space: nowrap;
  vertical-align: bottom;
}

th.rotate > div {
  transform: rotate(270deg);
  width: 30px;
}
th.rotate > div > span {
  padding: 5px 10px;
}

table {
  margin: auto;
}

td {
  border-collapse: collapse;
  border: 1px solid black;
}

table,
td,
th {
  padding: 10px;
}

.table {
  border-collapse: collapse;
  border-style: hidden;
}

.verticalAlignBottom {
  vertical-align: bottom;
}

.backgroundGreen {
  background-color: #e4f8e1;
}

.backgroundRed {
  background-color: #f8e1e1;
}

.backgroundLightGray {
  background-color: #eeeeee;
}

.backgroundDarkGray {
  background-color: #e9eef1;
}

.crossGradient {
  background-image: linear-gradient(
      to bottom right,
      rgba(230, 100, 101, 0.2) 0,
      rgba(230, 100, 101, 0.2) 1px,
      transparent 1px,
      transparent 67px,
      rgba(230, 100, 101, 0.2) 67px,
      rgba(230, 100, 101, 0.2) 73px,
      transparent 73px,
      transparent 138px,
      rgba(230, 100, 101, 0.2) 138px,
      rgba(230, 100, 101, 0.2) 144px,
      transparent 144px
    ),
    linear-gradient(
      to bottom left,
      rgba(230, 100, 101, 0.2) 0,
      rgba(230, 100, 101, 0.2) 1px,
      transparent 1px,
      transparent 67px,
      rgba(230, 100, 101, 0.2) 67px,
      rgba(230, 100, 101, 0.2) 73px,
      transparent 73px,
      transparent 138px,
      rgba(230, 100, 101, 0.2) 138px,
      rgba(230, 100, 101, 0.2) 144px,
      transparent 144px
    );
  background-size: 100px 100px, 100px 100px;
  background-position: 50% 50%, 50% 50%;
}
