th.rotate {
  height: 180px;
  white-space: nowrap;
  vertical-align: bottom;
}

th.rotate > span > div {
  transform: rotate(270deg);
  width: 30px;
}
th.rotate > span > div > span {
  padding: 5px 10px;
}

.tableWidth {
  max-width: max-content;
  margin: auto;
}

.myTest {
  width: 50px;
  height: 50px;
}

.borderRight5 {
  border-right: 5px;
}

.verticalAlignBottom {
  vertical-align: bottom;
}

.backgroundGreen {
  background-color: #e4f8e1;
  padding: 0 !important;
}

.backgroundRed {
  background-color: #f8e1e1;
  padding: 0 !important;
}

.backgroundDarkGray {
  background-color: #e9eef1;
  padding: 0 !important;
}

.crossGradient {
  background-image: linear-gradient(
      to bottom right,
      rgba(230, 100, 101, 0.2) 0,
      rgba(230, 100, 101, 0.2) 1px,
      transparent 1px,
      transparent 67px,
      rgba(230, 100, 101, 0.2) 67px,
      rgba(230, 100, 101, 0.2) 73px,
      transparent 73px,
      transparent 138px,
      rgba(230, 100, 101, 0.2) 138px,
      rgba(230, 100, 101, 0.2) 144px,
      transparent 144px
    ),
    linear-gradient(
      to bottom left,
      rgba(230, 100, 101, 0.2) 0,
      rgba(230, 100, 101, 0.2) 1px,
      transparent 1px,
      transparent 67px,
      rgba(230, 100, 101, 0.2) 67px,
      rgba(230, 100, 101, 0.2) 73px,
      transparent 73px,
      transparent 138px,
      rgba(230, 100, 101, 0.2) 138px,
      rgba(230, 100, 101, 0.2) 144px,
      transparent 144px
    );
  background-size: 100px 100px, 100px 100px;
  background-position: 50% 50%, 50% 50%;
}
